/* Estilo para o container principal do conteúdo da campanha */
.conteudo-campanha {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
}

/* Estilo para o título da campanha */
.titulo-campanha {
    font-size: 40px;
    color: #0459b4;
    margin-top: 30px;
}

/* Estilo para o texto introdutório */
.texto-intro {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Estilo para a seção de vídeos lado a lado */
.video-section {
    margin-top: 20px;
}

.videos-side-by-side {
    display: flex;
    justify-content: space-between;
}

/* Estilo para o wrapper de vídeo */
.video-wrapper {
    width: 45%;
}

/* Estilo para a descrição do vídeo */
.descricao-video {
    font-style: italic;
    margin-top: 10px;
    background-color: #007BFF;
    /* Fundo azul */
    color: #ffffff;
    /* Texto branco */
    padding: 10px;
    /* Espaçamento interno */
    display: flex;
    /* Flex container para alinhar o ícone e o texto */
    align-items: center;
    /* Alinha os itens verticalmente */
    border-radius: 5px;
    /* Borda arredondada */
}

/* Estilo para o ícone de vídeo React-icons */
.descricao-video svg {
    margin-right: 5px;
    /* Margem à direita do ícone */
}

/* Estilo para a caixa de destaque */
.frase-destaque {
    background-color: #007BFF;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Estilo para a frase de destaque maior */
.frase-destaque .frase-destaque-maior {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilo para a linha horizontal */
.frase-destaque hr {
    border: none;
    border-top: 1px solid #ffffff;
    margin: 10px 0;
}

/* Estilo para a seção de pautas */
.pautas-section {
    margin-top: 20px;
}

.titulo-pautas {
    font-size: 24px;
    padding: 15px;
    font-weight: bold;
    color: #0459b4;
    text-align: center;
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 5px;
}

.descricao-pautas {
    background-color: #007BFF;
    font-size: 10px;
    color: #FFF;
    text-align: start;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
}

.pautas-imagens img {
    max-width: 100%;
    cursor: pointer;
}

/* Estilo para a seção de apoiadores */
.apoiadores-section {
    margin-top: 20px;
}

.titulo-apoiadores {
    font-size: 24px;
    padding: 15px;
    font-weight: bold;
    color: #0459b4;
    text-align: center;
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 5px;
}

/* Estilo para o carrossel de vídeos dos apoiadores */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-track {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
    outline: none;
}

.apoiadores-section {
    margin-top: 20px;
}

.titulo-apoiadores {
    font-size: 24px;
    padding: 15px;
    font-weight: bold;
    color: #0459b4;
    text-align: center;
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 5px;
}

.videos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.video-apoiador-wrapper {
    width: 40%;
    margin-bottom: 20px;
    /* Espaço entre os vídeos */
}

.video-apoiador {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Ajuste para garantir que os vídeos se ajustem ao tamanho do container pai */
@media (max-width: 768px) {
    .video-apoiador-wrapper {
        width: 100%;
    }
}